<!--
  templateType: global_partial
  label: Website header
-->
<header class="header">
  <div class="header__container content-wrapper">
    <div class="header__logo">
      <a href="/">
        <img src="{{ site_settings.logo_src }}" alt="logo">
      </a>
    </div>
    <button type="button" class="hamburger-btn">
      <span class="btn-line"></span>
    </button>
    <div class="header-menu">
      {% module "menu" path="@hubspot/menu", id="73612884557", max_levels="3" %}
    </div>
  </div>
</header>