.blog-author-heading,
.blog-tag-heading {
  padding: 0 1rem;
}

.blog-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;;
}

.blog-index__post--small {
  border-radius : 2px;
  background-color: var(--white);

  width    : calc(100% - 200px - 20px);
  margin   : 10px;
  padding  : 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .blog-index__post--small {
    width    : calc((100% - 200px - 40px) / 2);
    margin   : 10px
  }
}

@media screen and (min-width: 1000px) {
  .blog-index__post--small {
    width    : calc((100% - 200px - 60px) / 3);
    margin   : 10px
  }
}

@media screen and (min-width: 768px) {
  .blog-index__post--large {
    display: flex;
    flex: 1 0 100%;
  }
}

.blog-index__post-image {
  height: 200px;
  width: auto;
  max-width: 100%;
}

.blog-index__post-content--small {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--theme-color2) ;
}

@media screen and (min-width: 768px) {
  .blog-index__post-image-wrapper--large {
    flex: 1 1 48%;
  }

  .blog-index__post-content--large {
    flex: 1 1 48%;
    padding-left: 2rem;
  }

  .blog-index__post-content--full-width {
    flex: 1 1 100%;
    padding-left: 0;
  }
}

.blog-index__post-title {
  font-size: var(--font-size-m);
  font-weight: bold;
}

.blog-index__post-title-link,
.blog-index__post-title-link:visited,
.blog-index__post-title-link:link {
  color: var(--theme-color1);
  text-decoration: none;
}

.blog-index__post-summary p{
  font-size: var(--font-size-s);
}

.blog-index__post-timestamp {
  display: block;
  font-size: var(--font-size-xs);
}

.blog-index__post-author {
  align-items: center;
  display: flex;
}

.blog-index__post-author-image {
  border-radius: 50%;
  height: auto;
  margin-right: 0.35rem;
  width: 30px;
}

.blog-index__post-tags,
.blog-index__post-title,
.blog-index__post-timestamp,
.blog-index__post-author,
.blog-index__post-image--small {
  margin: 0 0 0.7rem;
}
