/* header */
header {
  height        : 100px;
  border-bottom : 2px solid var(--theme-color1);
  position      : fixed;
  width         : 100%;
  background-color: var(--white);
  z-index: 1000;
}

/* header__container */
.header__container {
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
  align-items     : center;
  height          : 100%;
}

@media (max-width: 767px) {
  .header__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Logo */
.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  margin: 0 auto 0 25px;
}

@media (max-width: 767px) {
  .header__logo {
    margin-right: auto;
    margin-left: auto;
  }
}

.header__logo a {
  height: 80px;
}

.header__logo img {
  height: 80px;
  max-width : 200px;
}

/* hamburger-btn */
.hamburger-btn {
  position        : fixed;
  top             : 30px;
  right           : 20px;
  width           : 40px;
  height          : 40px;
  border          : none;
  z-index         : 999;
  background-color: transparent;
  border-radius   : 0;
}

.hamburger-btn span.btn-line {
  display         : block;
  position        : relative;
  width           : 100%;
  height          : 1px;
  background-color: var(--theme-color1);
  padding         : 0;
  transition      : 1.0s;
}

.hamburger-btn span.btn-line.open {
  background-color: var(--transparent);
  transition: 1.0s;
}

.hamburger-btn span.btn-line::before {
  transform: translate(-20px, -20px);
}

.hamburger-btn span.btn-line.open::before {
  transform: translate(-20px) rotate(45deg);
}

.hamburger-btn span.btn-line::after {
  transform: translate(-20px, 20px);
}

.hamburger-btn span.btn-line.open::after {
  transform: translate(-20px) rotate(-45deg);
}

.hamburger-btn span.btn-line::before,
.hamburger-btn span.btn-line::after {
  content         : "";
  position        : absolute;
  height          : 100%;
  width           : 100%;
  background-color: var(--theme-color1);
  transition      : 1.0s;
}

.hamburger-btn span.btn-line::before.open,
.hamburger-btn span.btn-line::after.open {
  content         : "";
  background-color: var(--theme-color1);
  transition      : 1.0s;
}


@media screen and (min-width: 767px) {
  .hamburger-btn {
    display: none;
  }
}


/* header-menu */
@media screen and (max-width: 767px) {
  .header-menu {
    position    : fixed;
    right       : -100%;
    transition  : 1.0s;
    height      : 100vh;
    width       : 100%;
    top         : 0;
    color       : var(--theme-color1);
    background-color: var(--white);
    box-shadow  : -2px 0px 2px var(--theme-color1);
    z-index         : 99;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
  }

  .header-menu.open {
    right       : 0;
    transition  : 1.0s;
  }
}

.header-menu,
.widget-type-menu,
.hs_cos_wrapper_type_menu,
.hs-menu-flow-horizontal{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-menu ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-menu li{
  font-weight: bold;
  margin: 0 10px;
}

.header-menu li a:visited{
  text-decoration: none;
  color: var(--theme-color1);
}

.header-menu li a:link{
  text-decoration: none;
  color: var(--theme-color1);
}