
#contact .title {
    display: flex;
    height: 100px;

    background-color: var(--theme-color1);
    font-size: var(--font-size-xl);

    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 50px 0px;
}

#contact h1 {
    font-size: var(--font-size-xl);
    color: var(--white);
}

#contact .contact-form {
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}

#contact input {
    border-radius: 5px;
    border: 1px solid var(--theme-color1);
}

#contact .hs-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;

    background-color: var(--theme-color4);
    color: var(--white);
    font-weight: bold;
    border: none;
}