<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: BESTAND_KNOWLEDGE - blog listing
-->
{% extends "./layouts/base.html" %}

{% block body %}
<div id="blog-index" class="template">
  <section class="section__title">
    {% module "section__title--blog-index"
      path="@hubspot/header",
      header_tag="h1",
      value="記事一覧"
    %}
  </section>

  <section class="section--blog-search">
    {% module "search_input"
      path="@hubspot/search_input",
      field_label="キーワード"
    %}
    {% module "post_filter"
      path="@hubspot/post_filter",
      list_title="カテゴリー",
    %}
  </section>

  <section class="section--blog-index">
    {% module "blog-listings"
      path="../modules/blog-listings"
    %}
    {% module "blog-pagination"
      path="../modules/blog-pagination"
    %}
  </section>

  <section>
    {% dnd_area "dnd-area--bottom"%}
      {% dnd_section %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </section>
</div>
{% endblock body %}